# Python/Snakemake Temporary Files
.snakemake/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Large Raw Data (Auto-fetched by pipeline)
input/DB/raw_fastas/
input/DB/gff3/
input/DB/canonical_transcripts/
input/DB/genespace_coords/
input/DB/ensembl_homologies_raw/
example/input/DB/
sample_plots/
final_samples/
# Large Production Outputs
ensembl_pipeline_output/
example/output_example/
# Phylogenetic_Trees.tar.gz (Removed from ignore to allow GitHub upload)

# Logs
*.log
slurm-*.out

# Local Plotting & Development Scripts (Not part of package)
local_plotting/
paper_methods/
updates_to_do/
test/

# OS specific
.DS_Store
Thumbs.db
